.videoWrapper {
    position: relative;
    /* padding-bottom: none; */ /* 16:9 */ 
    /* padding-top: none; */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:block;
}

iframe {
    margin: none;
    padding: none;
    background: black; /* this is just to make the frames easier to see */
    border: none;
    display:block;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    background: black;
}
